In [7]:
# Load the Data file into pandas
import pandas as pd
from pathlib import Path

In [8]:
budgetdf = pd.read_csv('budget_data.csv')

In [9]:
budgetdf

      Date  Profit/Losses
0   Jan-10         867884
1   Feb-10         984655
2   Mar-10         322013
3   Apr-10         -69417
4   May-10         310503
..     ...            ...
81  Oct-16         102685
82  Nov-16         795914
83  Dec-16          60988
84  Jan-17         138230
85  Feb-17         671099

[86 rows x 2 columns]

In [10]:
budgetdf.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [11]:
totalMonths = budgetdf["Date"].count()

print(f"Total number of months: {totalMonths}")

Total number of months: 86

In [12]:
totalNetAmount = budgetdf["Profit/Losses"].sum()

print(f"total amount of Profit/Losses: ${totalNetAmount}")

total amount of Profit/Losses: $38382578

In [13]:
#Profit/Losses Average for change

change = budgetdf['Profit/Losses'].diff()

budgetdf["change"] = change

totalChange = budgetdf["change"].sum()

amountChange = budgetdf["change"].count()

avgChange = totalChange / amountChange

avgChange = round(avgChange, 2)

print(f"Average of Changes: ${avgChange}")

Average of Changes: $-2315.12

In [14]:
budgetdf.head()

     Date  Profit/Losses    change
0  Jan-10         867884       NaN
1  Feb-10         984655  116771.0
2  Mar-10         322013 -662642.0
3  Apr-10         -69417 -391430.0
4  May-10         310503  379920.0

In [15]:
#Need to find Greatest increase

budgetdfMin = budgetdf.sort_values("change", ascending=False)

budgetdfMin = budgetdfMin.reset_index(drop=True)

maxIncreaseTotal = budgetdfMin.iloc[0]["change"]

maxIncreaseDate = budgetdfMin.iloc[0]["Date"]

print(f"max increase total: ${maxIncreaseTotal}")
print(f"max increase date: {maxIncreaseDate}")

budgetdfMin.head()

max increase total: $1926159.0
max increase date: Feb-12

     Date  Profit/Losses     change
0  Feb-12        1170593  1926159.0
1  Dec-13        1150461  1838447.0
2  Aug-16         569899  1733696.0
3  Sep-12         475062  1497596.0
4  Oct-13         268997  1465222.0

In [16]:
#Need to find Greatest decrease loss
budgetdfMax = budgetdf.sort_values("change")

budgetdfMax = budgetdfMax.reset_index(drop=True)

maxDecreaseTotal = budgetdfMax.iloc[0]["change"]

maxDecreaseDate = budgetdfMax.iloc[0]["Date"]

print(f"max decrease total: ${maxDecreaseTotal}")
print(f"max decrease date: {maxDecreaseDate}")

budgetdfMax.head()

max decrease total: $-2196167.0
max decrease date: Sep-13

     Date  Profit/Losses     change
0  Sep-13       -1196225 -2196167.0
1  Jul-16       -1163797 -1876758.0
2  Feb-16       -1100387 -1750387.0
3  Aug-12       -1022534 -1529236.0
4  Apr-15        -524626 -1212159.0

In [17]:
#Print Analysis - Relook over format
print("Financial Analysis")
print("-----------------------------")
print(f"Total Months: {totalMonths}")
print("Total: ${:.0f}".format(totalNetAmount))
print("Average Change: ${:,.2f}".format(avgChange))
print("Greatest Increase in Profits: " + maxIncreaseDate + ": $({:.0f})".format(maxIncreaseTotal))
print("Greatest Decrease in Profits: " + maxDecreaseDate + ": $({:.0f})".format(maxDecreaseTotal))

Financial Analysis
-----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2,315.12
Greatest Increase in Profits: Feb-12: $(1926159)
Greatest Decrease in Profits: Sep-13: $(-2196167)

In [18]:
# Create Sales Summary into a text file
with open('budget_data.txt',"w") as file:
    file.write("Financial Analysis")
    file.write("\n")
    file.write("-----------------------")
    file.write("\n")
    file.write(f"Total Months: {totalMonths}\r\n")
    file.write("\n")
    file.write("Total: ${:,.2f}\r\n".format(totalNetAmount))
    file.write("\n")
    file.write("Average Change: ${:,.2f}\r\n".format(avgChange))
    file.write("\n")
    file.write("Greatest Increase in Profits: " + maxIncreaseDate + ", $({:.0f})\r\n".format(maxIncreaseTotal))
    file.write("\n")
    file.write("Greatest Decrease in Profits: " + maxDecreaseDate + ", $({:.0f})\r\n".format(maxDecreaseTotal))